body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: #efefef !important;
  word-break: break-word;
  page-break-before: avoid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.big-text {
  font-size: 36px;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.small-text {
  font-size: 18px;
}

.light-background {
  background-color: #efefef;
}

.color-text {
  color: rgb(0, 92, 134)
}

.social-input textarea {
  position: relative;
  top: 3px;
}

.text-bottom {
  border-bottom: 1px solid #efefef !important;
}